<div class="container">
    <div class="profile">
        <form>
            <input type="file" value="Upload" class="btn profile-upload" accept=".png"></input>
            <input type="submit">
        </form>
        <a href="/feed?user=john123"><button class="btn profile-user-name"><% database.username %></button></a>
        <div class="profilepic">
            <img src="./photos/john123/profile.jpeg">
        </div>
    </div>
</div>